@model Student
<h2>Edit Student</h2>
<br />
<hr />
<br />

<form action="~/Student/Edit" method="post">

    <div class="form-group">
        <input type="number" id="Id" name="Id" class="form-control" value="@Model.Id" hidden />
    </div>

    <div class="form-group">
        <label for="Name" class="form-label">Student Name</label>
        <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" />
    </div>

    <div class="form-group">
        <label for="Age" class="form-label">Student Age</label>
        <input type="number" id="Age" name="Age" class="form-control" value="@Model.Age" />
    </div>

    <div class="form-group">
        <label for="Address" class="form-label">Student Address</label>
        <input type="text" id="Address" name="Address" class="form-control" value="@Model.Address" />
    </div>

    <div class="form-group">
        <label for="DepartmentId" class="form-label">Department</label>
        <select id="DepartmentId" name="DepartmentId" class="form-control">
            <option value="@Model.DepartmentId">@Model.Department!.DeptName</option>
            @foreach (var item in ViewBag.Departments)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>

    <input type="submit" value="Edit Student" class="btn btn-success my-5" />
    <a href="~/Student/Index" class="btn btn-secondary">Cancel</a>
</form>
